@keyframes background-fade-in-animation {
    0% {
        background-color: whitesmoke;
    }
    10% {
        background-color: whitesmoke;
    }
    100% {
        background-color: #0a0a0a;
    }
}

@keyframes lunar-fade-in-animation {
    0% {background-color: white;right:-10em;}
    10% {background-color: white;right:-9em;}
    20% {background-color: whitesmoke;right:-8em;}
    100% {background-color: #0a0a0a;right:0em;}
}

@keyframes example {
    0%   {background-color:red; right:0px;}
    25%  {background-color:yellow; right:200px;}
    50%  {background-color:blue; right:200px;}
    75%  {background-color:green; right:0px;}
    100% {background-color:red; right:200px;}
  }

.logo_solar_animation {
    height: 10em;
    width: 10em ;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    margin:auto;
}

.logo_lunar_animation {
    height: 9em;
    width: 9em ;
    background-color: #0a0a0a;
    border-radius: 50%;
    position:relative ;
    top:41.5vh;
    margin:auto;
    animation-name: lunar-fade-in-animation;
    animation-duration: 8s;
}

.background_initial_animation {
    background-color: #0a0a0a;
    animation-name: background-fade-in-animation;
    animation-duration: 8s;
}