body,html {
    height: 100%;
    background-color: #0a0a0a;
}

*{
    box-sizing: border-box;
}

.bg{
    background-color: #0a0a0a;
    background-image: url('lib/eclipse_1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(3px);
    height: 100%;
    margin: 0;
}

.header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: #0a0a0a;
    color: whitesmoke;
    margin: 15px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translateX(-51%);
    margin: 10px;
}

/*unused*/
.table{
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

.bg-text {
    background-color: #181818; /* Fallback color */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    padding: 20px;
    text-align: center;
}

.bg-text:hover {
    color: #ff751A;
    transition: .2s;
}

.topleft_logo{
    color: white;
    position: fixed ;
    top: 0;
    left: 0;
    margin: 10px;
}


/*Don't use this, fucks everything up*/
.hovercover {
    margin: 0 auto;
    transition: .2s;
}

.hovercover:hover {
    transform: scale(1.2);
}