html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p {
    color: whitesmoke;
}

a {
    padding-bottom: 20px; 
    font-weight: bolder; font-size: large; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: #ff751A;
}

.header {
    color: whitesmoke;
    font-family: 'IM Fell English';


    padding: 15px;
    text-align: center;
    background-color: #181818;
    color: white;

}

.headerText {
    color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.content {
    background-color: #181818;
    color: whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    border-radius: 10px;
}

caption {
    font-size: larger; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    
}

#link_to_news{
    color: whitesmoke;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding-top: 10px ;
}

@media only screen and (min-width: 768px){
    .logo-size-desktop {padding-top: 1em;}
    .logo-text-size-desktop {padding-top: 1em;}
    .header-mini-menu-hiding {display: none;}

    .col-desktop-1 {width: 8.33%;float:left;}
    .col-desktop-2 {width: 16.66%;float:left;}
    .col-desktop-3 {width: 25%;float:left;}
    .col-desktop-4 {width: 33.33%;float:left;}
    .col-desktop-5 {width: 41.66%;float:left;}
    .col-desktop-6 {width: 50%;float:left;}
    .col-desktop-7 {width: 58.33%;float:left;}
    .col-desktop-8 {width: 66.66%;float:left;}
    .col-desktop-9 {width: 75%;float:left;}
    .col-desktop-10 {width: 83.33%;float:left;}
    .col-desktop-11 {width: 91.66%;float:left;}
    .col-desktop-12 {width: 100%;float:left;}
}

@media only screen and (max-width: 768px){
    .logo-size-phone {padding-top: 5em;}
    .logo-text-size-phone {padding-bottom: 5em;}
    .header-menu-hiding {display: none;}

    .col-phone-1 {width: 8.33%; float:left;}
    .col-phone-2 {width: 16.66%;float:left;}
    .col-phone-3 {width: 25%;float:left;}
    .col-phone-4 {width: 33.33%;float:left;}
    .col-phone-5 {width: 41.66%;float:left;}
    .col-phone-6 {width: 50%;float:left;}
    .col-phone-7 {width: 58.33%;float:left;}
    .col-phone-8 {width: 66.66%;float:left;}
    .col-phone-9 {width: 75%;float:left;}
    .col-phone-10 {width: 83.33%;float:left;}
    .col-phone-11 {width: 91.66%;float:left;}
    .col-phone-12 {width: 100%;float:left;}
}
